body{
  background-color: rgb(0, 0, 0);
}

.firstContainer{
  position: relative;
  height: 100vh;
}

.container{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.digital-clock{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border: 2.5px solid rgb(99, 99, 99);
  padding: 21px;
  padding-bottom: 28px;
  height: 180px;
  border-radius: 15px;
}

.week
{
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  padding: 0px;
  padding-right: 18px;
  margin: 0px;
  justify-content: top;
  align-items: left;
  width: 80px;
  column-gap: 0px;
}

.day{
  color: rgb(255, 255, 255);
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 0px;
}

.dayActive{
  font-weight: bold;
  color: white;
  height: 34px;
}


.day11{
  color: rgba(122, 122, 122, 0.7);
  opacity: .78;
}

.day12{
  color: rgba(121, 121, 121, 0.5);
  opacity: .6;
}

.day11,
.day12{
  font-weight: 500;
  font-size: 24px;
  height: 30px;
}

.ampm{
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
  font-size: 30px;
  display: inline-block;
  align-items: center;
  width: 18px;
  color: white;
  margin-top: 20px;
  padding-right: 24px;
  padding-left: 12px;
}

.time{
  font-family: "Bebas Neue", serif;
  font-weight: bold;
  font-style: normal;
  height: 100%;
  width: 100%;
  color: white;
  padding: 0px;
  padding-bottom: 52px;
  margin-top: 0px;
}

.hour,
.dot,
.min
{
  display: inline-block;
  font-size: 220px;
  height: 100%;
  margin: 0px;
  padding: 0px;
}


.invsible{
  visibility: hidden;
}