body{
  background-color: rgb(0, 38, 255);
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 25px;
}

.digital-clock{
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(99, 99, 99);
  padding: 25px;
  border-radius: 10px;
  width: 254px;
}

.week
{
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
  display: flex;
  flex-direction: column;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  justify-content: center;
  align-items: left;
  width: 40px;
  height: 70px;
  column-gap: 0px;
}

.day{
  color: rgba(185, 185, 185, 0.8);
  margin-top: 0px;
  margin-bottom: 0px;
}

.dayActive{
  font-weight: bold;
  color: white;
}

.ampm{
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
  display: inline-block;
  width: 10px;
  color: white;
  margin-top: 25%;
  margin-right: 12px;
}

.time{
  font-family: "Bebas Neue", serif;
  font-weight: bold;
  font-style: normal;
  height: 100%;
  color: white;
  padding: 0px;
}

.hour,
.dot,
.dot2,
.min,
.sec
{
  display: inline-block;
  font-size: 100px;
  height: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.min{
  display: math;
}

.invsible{
  visibility: hidden;
}